fastapi # https://pypi.org/project/fastapi/#history
uvicorn[standard] # https://pypi.org/project/uvicorn/#history
gradio # https://pypi.org/project/gradio/#history


# fastapi==0.107.0 # https://pypi.org/project/fastapi/#history
# uvicorn[standard]==0.27.0 # https://pypi.org/project/uvicorn/#history
# gradio==4.31.0 # https://pypi.org/project/gradio/#history