fastapi
uvicorn[standard]
authlib
starlette  # Explicitly needed as it's utilized for sessions and configurations
itsdangerous
pylti
psycopg2-binary # instead of installing postgres fully
jinja2

# Specified versions from the second list gradio==4.36.1
google-auth==2.29.0
google-generativeai==0.6.0
gradio
gspread==6.1.0
ollama==0.1.8
openai==1.23.3
pandas==2.2.2
python-dotenv==1.0.1
